<launch>

  <arg name="start_hydra" default="true" />
  <arg name="radius" default="4.0" />

  <include file="$(find interaction_cursor_demo)/launch/user_test.launch" >
    <arg name="radius" value="$(arg radius)" />
    <arg name="start_hydra" value="$(arg start_hydra)" />
  </include>

  <include file="$(find interaction_cursor_demo)/launch/rviz.launch" >
  </include>

  <node name="basic_controls" type="basic_controls" pkg="interactive_marker_tutorials" />

</launch>
